.fondo{
   
    background-image: url("../img/banner4.jpg");
    padding: 25%;
    background-attachment: fixed;

}

.letra{
    color:red;
    font-size: 500px;
    font-weight: bold;
}

a{
    text-decoration: none; 
 }